<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><% if(error){ %>
    <p>Nincs ilyen nevű szerző</p>
    <%} else{ %>
    <p><%= Quote.author %></p>
    <p><%= Quote.quote %></p>
    <%}%>
</body>
</html>